<?xml version="1.0"?>
<configuration>
    <system.web>
      <compilation targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
  <connectionStrings>
    <add name="SQL" connectionString="workstation id=Dairy-Procurement.mssql.somee.com; MultipleActiveResultSets=true; packet size=4096;user id=ManivasakamR_SQLLogin_1;pwd=8m1kslshqp;data source=Dairy-Procurement.mssql.somee.com;persist security info=False;initial catalog=Dairy-Procurement"
         providerName="System.Data.SqlClient"/>
    <!--add name="SQL" connectionString="Data Source=(Local)\SQLEXPRESS2; MultipleActiveResultSets=true; Persist Security Info=True;Password=1809;User ID=sa;Initial Catalog=Dairy-Procurement"
      providerName="System.Data.SqlClient"/-->  
  </connectionStrings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>
